<article class="uk-article">
    <div class="uk-card uk-card-large uk-card-body uk-align-center">
        <h3 class="uk-card-title">Hipnocentro&copy</h3>
        <p class="uk-article-meta">
            Si eres un cliente, deberías dirigirte <a href="http://hipnocentro.com">aquí</a>.
        </p>
        <p class="uk-article-meta">
            Si eres un Terapeuta o Administrador, dirígete al <a href="/panel">panel de control</a>.
        </p>
    </div>
</article>