<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hipnocentro</title>
    <!-- UI Kit -->
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit/uikit.min.js" ></script>
    <!-- UI Kit icons -->
	<script src="js/uikit/uikit-icons.min.js" ></script>
    <!-- Vue.Js dev -->
    <script src="js/vuejs/dev.js"></script>
    <!-- Vue.Js prod -->
    {{!-- <script src="js/vuejs/prod.js"></script> --}}
    <!-- Vue.Js Axios -->
    <script src="js/vuejs/axios.js"></script>
    <!-- Robots -->
    <meta name="robots" content="noindex,nofollow" /> 
    <meta name="googlebot" content="noindex,nofollow" />
    <meta name="AdsBot-Google" content="noindex,nofollow" />
    <meta name="googlebot-news" content="noindex,nofollow" />
</head>
<body>
    {{> header }}
    {{{ body }}}
    {{> footer }}
</body>
</html>